= f.error_messages

.inputs
  .form-control
    .mz-label
      = t :name
    = f.text_field(:name)
  .form-control
    .mz-label
      = t :password
    = f.text_field(:password)
  .form-control
    .mz-label
      = t :domain
    = f.text_field(:domain)



.actions
  = f.button :submit
