- entity_name = controller.controller_name.singularize.underscore #account
- @entity = instance_variable_get("@#{entity_name}")
- create_id = "edit_#{entity_name}" # create_account
- index_path = index_path(entity_name)

- if @task.valid?
  = redirect_to_previous_path_if_needed_or_redirect_to(index_path)

- else # Couldn't create the task -- validation failed.
  $('##{create_id}').html('#{ j render(:partial => "new") }');
  $('##{create_id}').effect("shake", { duration:250, distance: 6 });
  $('#new_#{entity_name} input[type!=hidden]').first().focus();

crm.runOnload();