- entity_name = controller.controller_name.singularize.underscore #account
- @entity = instance_variable_get("@#{entity_name}")
- id = dom_id(@entity)
- text_name = @entity.name

- if params[:cancel].true? # <--------------------- Hide [Edit]
  crm.set_title('edit_#{entity_name}', '#{h text_name}');
  $('#edit_#{entity_name}').html('#{ j render(:partial => "edit", :locals => {:edit => false}) }');
  crm.event.emit(EVENT_EDIT_CANCEL);

- else # <----------------------------------------  Show [Edit Task] form.
  crm.set_title('edit_#{entity_name}', "#{t :edit} #{h text_name}");
  $('#edit_#{entity_name}').html('#{ j render(:partial => "edit", :locals => {:edit => true}) }');
  crm.event.emit(EVENT_EDIT_START);
crm.runOnload();