= styles_for :task

#titlebar
  = render "entities/title_bar"
#toolbar
  = render "tasks/tool_bar"

- if @view == "completed"
  - buckets = Setting.unroll(:task_completed)
- else
  - buckets = Setting.unroll(:task_bucket)

#tasks.log.list
  - buckets.each do |value, key|
    %div{ hidden_if(filtered_out?(@view, key)), :id => "list_#{key}" }
      %div{:class => key}
        = section_title (t value)
      .bucket{:id => key}= render :partial => @view, :collection => @tasks[key] || [], :locals => { :bucket => key }
  - if @tasks.values.flatten.blank?
    = render "empty"
#export= render "shared/export"
