- edit ||= false
- disabled  = !edit
- model = entity.class.name.underscore

= section_title :permissions
#entity_permissions.permissions_panel
  %div
    .label-medium.pull-left
      = t :visible_to
    .permissions_content.pull-left
      .radio_box
        = f.radio_button :access, "Private", :onclick => "$('#people').hide(),", :disabled => disabled
        = f.label :access_private, t(:keep_private), :style => "cursor:pointer"
      .radio_box
        = f.radio_button :access, "Public", :onclick => "$('#people').hide()", :disabled => disabled
        = f.label :access_public, t(:make_public), :style => "cursor:pointer"
      .radio_box
        = f.radio_button :access, "Shared", :onclick => "$('#people').show()", :disabled => disabled
        = f.label :access_shared, t(:share_with), :style => "cursor:pointer"

      #people{ hidden_if(entity.access != "Shared") }
        - if edit
          %div
            = f.label :user_ids, "#{t(:users)}:"
            %br
            = f.select :user_ids, user_options, {}, :multiple => true, :class => 'select2'
          %div
            = f.label :group_ids, "#{t(:groups)}:"
            %br
            = f.select :group_ids, group_options, {}, :multiple => true, :class => 'select2'
        - else
          %div
            = f.label :user_ids, "#{t(:users)}:"
            = permissedid_to_name(f.object.send(:user_ids), user_options)
          %div
            = f.label :group_ids, "#{t(:groups)}:"
            = permissedid_to_name(f.object.send(:group_ids), group_options)

      - if entity.is_a?(Lead)
        .radio_box
          = f.radio_button :access, "Campaign", :onclick => "$('#people').hide(); $('#lead_access_campaign').val('Campaign');", :disabled => disabled
          %font{ :id => :copy_permissions}
            = t(:copy_permissions, t(:campaign_small))
    .clearfix

