.standalone#standalone{:style => "width:480px"}
  -# The following form gets submitted to #create when @authentication is nil,
  -# or to #update when @authentication is not nil (ex. suspended).
  .standard_form
    = form_for @authentication, :url => authentication_path, :html => one_submit_only do |f|

      .form-group
        = f.email_field :email, :placeholder => t(:email), :class => "form-control"
      .form-group
        = f.password_field :password, :placeholder => t(:password),:class => "form-control"
      .form-group
        = f.check_box :remember_me
        = t :remember_me
      .form-group
        = f.submit t(:login), :class => "btn btn-success"
        = link_to t(:forgot_password) << '?', new_password_path

.text-center
  %span
    //todo: turn this on
    -##{t :no_account} #{link_to t(:sign_up_now), new_subscriber_registration_url(:subdomain => false)}