#header
  .row
    %h3.home.col-md-1
      = link_to(t(:crm_admin_page), admin_path)
    .col-md-offset-5
      .row
        .col-md-6
          -#= render "layouts/components/top_center"

        .col-md-6
          #welcome
            = render :layout => "shared/profile_button" do
              %li.dropdown-item
                = link_to(t(:profile), profile_path)
              %li.dropdown-item
                = link_to(t(:back_to_crm), root_path)
              %li.dropdown-item
                = link_to(t(:logout), logout_path, :method => :delete)
  = render "/layouts/jumpbox"