- entity_name = controller.controller_name.singularize.underscore #account
- @entity = instance_variable_get("@#{entity_name}")
- id = dom_id(@entity)

- if params[:cancel].true? # <--------------------- Hide [Edit]
  MAGNIFY.closeModal();
- else # <----------------------------------------  Show [Edit] form.
  - if params[:cancel].blank?                       # Called from index page...
    MAGNIFY.openModal('#{ j render :partial => "convert", :locals => {:edit => true} }');
    crm.set_title('convert_#{entity_name}', "#{t :convert} #{h @entity.full_name}");

  - elsif params[:cancel].false?                    # Called from title of the lead landing page...
    MAGNIFY.openModal('#{ j render :partial => "convert", :locals => {:edit => true} }');
    -#$('#convert_#{entity_name}').html('#{ j render(:partial => "convert") }');
    -#crm.hide_form('edit_lead');
    -#crm.flip_form('convert_#{entity_name}');
    crm.set_title('convert_#{entity_name}', "#{t :convert} #{h @entity.full_name}");

  crm.create_or_select_account(#{ request.referer =~ /\/accounts\// || @account.id.blank? });
  $('#new_#{entity_name} input[type!=hidden]').first().focus();

crm.runOnload();