- entity_name = controller.controller_name.singularize.underscore #account
- @entity = instance_variable_get("@#{entity_name}")
- id = called_from_landing_page? ? "convert_#{entity_name}" : dom_id(@entity)
- index_path = index_path(entity_name)

- if @entity.status == "converted"
  -#redirect to index page
  = redirect_to_previous_path_or(index_path)
- else  
  $('##{id}').html('#{ j render(:partial => "convert", :locals => {:edit => true}) }');
  crm.create_or_select_account(#{ request.referer =~ /\/accounts\// || @account.id.blank? });
  $('##{id}').effect("shake", { duration:250, distance: 6 });
  $('##{dom_id(@entity, :edit)} input[type!=hidden]').first().focus();
crm.runOnload();