- edit ||= false

- if edit
  = section_title t(:web_presence)
#web_presence
  = c_show_when_exist(f, :blog, edit) do
    .row_theme
      .label-medium.top #{t :blog}:
      = c_textfield(f, :blog, edit)
  = c_show_when_exist(f, :twitter, edit) do
    .row_theme
      .label-medium.top #{t :twitter}:
      = c_textfield(f, :twitter, edit)
  = c_show_when_exist(f, :linkedin, edit) do
    .row_theme
      .label-medium #{t :linkedin}:
      = c_textfield(f, :linkedin, edit)
  = c_show_when_exist(f, :facebook, edit) do
    .row_theme
      .label-medium #{t :facebook}:
      = c_textfield(f, :facebook, edit)
  = c_show_when_exist(f, :skype, edit) do
    .row_theme
      .label-medium #{t :skype}:
      = c_textfield(f, :skype, edit)

