=section_title (t :permissions)
#lead_convert_permissions.permissions_panel
  .radio_box
    = radio_button_tag "access", "Lead", true, :onclick => "$('#lead_convert_permissions #people').hide(); $('#account_access').val('Lead'); $('#opportunity_access').val('Lead');"
    = label :access, :Lead, t(:copy_permissions, t(:lead_small)), :style => "cursor:pointer"
  .radio_box
    = radio_button_tag "access", "Private", false, :onclick => "$('#lead_convert_permissions #people').hide(); $('#account_access').val('Private'); $('#opportunity_access').val('Private');"
    = label :access, :Private, t(:keep_private), :style => "cursor:pointer"
  .radio_box
    = radio_button_tag "access", "Public", false, :onclick => "$('#lead_convert_permissions #people').hide(); $('#account_access').val('Public'); $('#opportunity_access').val('Public');"
    = label :access, :Public, t(:make_public), :style => "cursor:pointer"
  .radio_box
    = radio_button_tag "access", "Shared", false, :onclick => "$('#lead_convert_permissions #people').show(); $('#account_access').val('Shared'); $('#opportunity_access').val('Shared');"
    = label :access, :Shared, t(:share_with), :style => "cursor:pointer"

  #people{ hidden_if(@lead.access != "Shared") }
    %table
      %tr
        %td
          = label_tag :lead_user_ids, "#{t(:users)}:"
          %br
          = select :lead, :user_ids, user_options, {}, :multiple => true, :class => 'select2'
      %tr
        %td
          = label_tag :lead_group_ids, "#{t(:groups)}:"
          %br
          = select :lead, :group_ids, group_options, {}, :multiple => true,  :class => 'select2'
