- edit ||= false

- collapsed = session[:lead_contact].nil? # && @lead.errors.empty?
= subtitle :lead_contact, collapsed, t(:contact_info)

.section
  %small#lead_contact_intro{ hidden_if(!collapsed) }
    = t(:intro, t(:lead_info_small)) unless !edit
  #lead_contact{ hidden_if(collapsed) }
    .row
      = c_show_when_exist(f, :title, edit) do
        .col-md-3
          .label.top #{t :job_title}:
          = c_textfield(f, :title, edit)
      = c_show_when_exist(f, :company, edit) do
        .col-md-3
          .label.top #{t :company}:
          = c_autocomplete_field(f, :company, edit, {:path => autocomplete_account_name_leads_path})
    .row
      = c_show_when_exist(f, :alt_email, edit) do
        .col-md-3
          .label #{t :alt_email}:
          = c_textfield(f, :alt_email, edit)
      = c_show_when_exist(f, :mobile, edit) do
        .col-md-3
          .label #{t :mobile}:
          = c_textfield(f, :mobile, edit)
    .row
      .col-md-3
        = render "shared/address", :f => f, :asset => @lead, :type => 'business', :title => :address, :edit => edit
      = c_show_when_exist(f, :referred_by, edit) do
        .col-md-3
          .label.label-block #{t :referred_by}:
          = c_textfield(f, :referred_by, edit)
          %div{:style => "margin-top:6px"}
            .check_box
              = f.check_box :do_not_call, {:disabled => !edit}, true
              #{t :do_not_call}
