- edit ||= false
- is_new ||= false

#edit_lead
  = simple_form_for(@lead, :html => one_submit_only, :remote => true) do |f|
    = render :partial => 'layouts/title_bar', :locals => {:model => @lead, :f => f, :edit => edit}

    = f.hidden_field :user_id
    - if is_new
      = hidden_field_tag "campaign", "#{@campaign.id if @campaign}"

    = f.error_messages :object_name => t('lead')

    = render "leads/top_section",    :f => f, :edit => edit
    = render "fields/edit_custom_field_group", :f => f, :edit => edit
    = render "leads/status",         :f => f, :edit => edit
    = render "leads/contact",        :f => f, :edit => edit
    - if is_new
      = render "shared/add_comment",   :f => f, :edit => true
    = render "leads/web",            :f => f, :edit => edit
    = render "fields/groups",        :f => f, :edit => edit
    = render "entities/permissions", :f => f, :edit => edit, :entity => @lead
    = hook(:entity_form, self, {f: f, entity: @lead})

    = render :partial => "layouts/components/submit_button", :locals => {:f => f, :edit => edit, :label => :save_lead}

