- edit ||= false

#edit_lead
  = simple_form_for(@lead, :html => one_submit_only, :remote => true) do |f|
    = link_to_close new_lead_path
    = f.hidden_field :user_id
    = hidden_field_tag "campaign", "#{@campaign.id if @campaign}"

    = f.error_messages :object_name => t('lead')

    = render "leads/top_section",    :f => f, :edit => true
    = render "fields/edit_custom_field_group", :f => f, :edit => true
    = render "leads/status",         :f => f, :edit => true
    = render "leads/contact",        :f => f, :edit => true
    = render "shared/add_comment",   :f => f, :edit => true
    = render "leads/web",            :f => f, :edit => true
    = render "fields/groups",        :f => f, :edit => true
    = render "entities/permissions", :f => f, :entity => @lead, :edit => true
    = hook(:entity_form, self, {f: f, entity: @lead})

    = render :partial => "layouts/components/submit_button", :locals => {:f => f, :edit => true, :label => :save_lead}

