-#Mode editable or readonly
- edit ||= false
- disabled = !edit
= section_title(t :status)

#lead_status
  .row_theme
    .label-medium.top #{t :assigned_to}:
    = user_select(:lead, all_users, current_user, edit)
  .row_theme
    .label-medium.top #{t :status}:
    = c_selectfield(f, :status, lead_status_codes_for(@lead), { :selected => (@lead.status || "new").to_sym }, { :style => "width:160px" }, edit)
  .row_theme
    .label-medium.top #{t :rating}:
    = rating_select "lead[rating]", { :id => :lead_rating, :selected => @lead.rating, :style => "width:160px" }, edit

  .row_theme
    .label-medium #{t :source}:
    - if !edit # Create a lead from Campaign landing page: select :campaign as a source and disable the dropdown.
      = c_selectfield(f, :source, Setting.unroll(:lead_source), { :selected => :campaign }, { :style => "width:160px;", :disabled => true }, edit)
      = hidden_field_tag "lead[source]", "campaign"
    - else
      = c_selectfield(f, :source, Setting.unroll(:lead_source), { :selected => (@lead.source || "other").to_sym }, { :style => "width:160px" }, edit)
  .row_theme{ :colspan => 3 }
    .label-medium #{t :campaign}:
    - campaign_id = @campaign ?  @campaign.id : 0
    - if !edit
      = c_collection_select :lead, :campaign_id, @campaigns, :id, :name, { :selected => campaign_id }, { :disabled => true }, edit
    - else
      = c_collection_select :lead, :campaign_id, @campaigns, :id, :name, { :selected => @lead.campaign_id, :include_blank => t(:select_none) },
      { :onchange => "crm.flip_campaign_permissions(this.value)" }, edit
