.mz-row
  .pull-right
    .pull-left#buttons
      = view_buttons
    .pull-left
      .task-dropdown
        = render_filter_toggle_button do
          - Setting.lead_status.each do |key|
            %li.nowrap.dropdown-item
              %div{:style => "float:right;"}
                = @lead_status_total[key]
              %span
                = lead_status_checkbox(key, @lead_status_total[key])
                = label_tag(key, t(key))

          %li.nowrap.dropdown-item
            %div{:style => "float:right;"}
              = @lead_status_total[:other]
            %span
              = lead_status_checkbox("other", @lead_status_total[:other])
              = label_tag(:other, t(:other))
          %li.dropdown-divider
          %li.nowrap.dropdown-item
            %div{:style => "float:right;"}
              %b= @lead_status_total[:all]
            %span
              %b #{t :total_leads}
          = hook(:index_lead_sidebar_bottom, self)
