- edit ||= false

= section_title(t :detail)

= hook(:lead_top_section, self, :f => f) do
  .row_theme
    = render "layouts/components/full_name", :f => f, :edit => edit

  = c_show_when_exist(f, [:email, :phone], edit) do
    .row_theme
      .row
        = c_show_when_exist(f, :email, edit) do
          .col-md-3
            .label-medium #{t :email}:
            = c_textfield(f, :email, edit)
        = c_show_when_exist(f, :phone, edit) do
          .col-md-3
            .label-medium #{t :phone}:
            = c_textfield(f, :phone, edit)

  - if Setting.background_info && Setting.background_info.include?(:lead)
    .row_theme
      %div
        = c_show_when_exist(f, :background_info, edit) do
          .label-medium = t(:background_info) << ':'
          = c_text_area(f, :background_info)

  = c_show_when_exist(f, [:tag_list], edit) do
    .row_theme
      = render :partial => "/shared/tags", :locals => {:f => f, :edit => edit}

  = hook(:lead_top_section_bottom, self, :f => f)
  .clearfix