- entity_name = controller.controller_name.singularize.underscore #account
- @entity = instance_variable_get("@#{entity_name}")
- create_id = "create_#{entity_name}" # create_account

- if @entity.valid?
  window.location.href = "#{leads_path}";
- else
  $('##{create_id}').html('#{ j render(:partial => "new") }');
  $('##{create_id}').effect("shake", { duration:250, distance: 6 });
  $('#new_#{entity_name} input[type!=hidden]').first().focus();
crm.runOnload();