- entity_name = controller.controller_name.singularize.underscore #account
- @entity = instance_variable_get("@#{entity_name}")
- id = dom_id(@entity)


- if params[:cancel].true? # <--------------------- Hide [Edit]
  crm.set_title('edit_#{entity_name}', '#{h @entity.full_name}');
  $('#edit_#{entity_name}').html('#{ j render(:partial => "edit", :locals => {:edit => false}) }');

- else # <----------------------------------------  Show [Edit] form.
  crm.set_title('edit_#{entity_name}', "#{t :edit} #{h @entity.full_name}");
  $('#edit_#{entity_name}').html('#{ j render(:partial => "edit", :locals => {:edit => true}) }');
  - unless %w(converted rejected).include? @entity.status
    crm.hide_form('convert_lead');
