- edit = @edit || false
-#
-#- if (template = template_for_current_view)
-#  = template
-#  = render(template, :lead => @lead)
-#- else

-# default view

= styles_for :task

= render :partial => 'layouts/title_bar', :locals => {:lead => @lead, :edit => edit}
%div#edit_lead
  = render(:partial => "leads/edit", :locals => {:edit => edit})

= render "comments/new", :commentable => @lead
= render :partial => "shared/timeline", :collection => @timeline

= hook(:show_lead_bottom, self, {entity: @lead}) do

  = render :partial => "tasks/tasks", :locals => {:object => @lead}

  = render :partial => "versions/versions", :locals => {:object => @lead}

  = load_select_popups_for(@lead, :tasks)