- edit ||= false
- disabled = !edit

- if edit
  = section_title t(:extra_info)
#contact_extra
  = hook(:contact_extra_details_form, self, :f => f) do
    = c_show_when_exist(f, :title, edit) do
      .row_theme
        .label-medium #{t :job_title}:
        = c_textfield(f, :title, edit)
    = c_show_when_exist(f, :department, edit) do
      .row_theme
        .label-medium #{t :department}:
        = c_textfield(f, :department, edit)
    = c_show_when_exist(f, :alt_email, edit) do
      .row_theme
        .label-medium #{t :alt_email}:
        = c_textfield(f, :alt_email, edit)
    = c_show_when_exist(f, :mobile, edit) do
      .row_theme
        .label-medium #{t :mobile}:
        = c_textfield(f, :mobile, edit)
    = render "shared/address", :f => f, :asset => @contact, :type => 'business', :title => :address, :edit => edit
    = c_show_when_exist(f, :fax, edit) do
      .row_theme
        .label-medium #{t :fax}:
        = c_textfield(f, :fax, edit)
    = render "shared/do_not_call", :f => f, :edit => edit