%li.highlight[contact]
  = avatar_for(contact, :size => "16x16")

  .indentslim
    = link_to_if can?(:read, contact), contact.full_name(@current_user.preference[:contacts_naming]), contact
    %tt
      = brief_account_info(contact)

      - if (lead = contact.lead) and lead.referred_by?
        &ndash;
        == #{t :referred_by_small} #{lead.referred_by}

    = render "contacts/index_tool_buttons", :contact => contact

    = hook(:contact_bottom, self, :contact => contact)
