- edit ||= false
- model ||= {}
- contact = model

- if is_new?(contact)
  .title_tools#menu
  .title#title
    = t :create_contact
    - if previous_path?
      = render "shared/save_and_back"
- else
  #confirm{ hidden }
  .title_tools#menu
    = link_to_inline(:edit_contact, edit_contact_path(contact), :text => t(:edit), :edit => edit, "data-kind" => "edit") + " | "
    = link_to_function(t(:delete) + '?', confirm_delete(@contact))
  .title_tools#buttons
    = view_buttons
  .title#edit_contact_title
    = h(@contact.full_name)
    = image_tag("loading.gif", :size => :thumb, :id => "loading", :style => "display: none;")

