- is_new = is_new?(@contact)
- edit ||= false
- disabled = !edit

= section_title (t :detail)
= hook(:contact_top_section, self, :f => f) do
  .row_theme
    = render "layouts/components/full_name", :f => f, :edit => edit

  = c_show_when_exist(f, :email, edit) do
    .row_theme
      .label-medium #{t :email}:
      = c_textfield(f, :email, edit)
  = c_show_when_exist(f, :phone, edit) do
    .row_theme
      .label-medium #{t :phone}:
      = c_textfield(f, :phone, edit)

  = render "shared/account_select", :edit => edit

  .row_theme
    .label-medium #{t :assigned_to}:
    = user_select(:contact, all_users, current_user, edit)

  - if Setting.background_info && Setting.background_info.include?(:contact)
    .row_theme
      .label-medium= t(:background_info) << ':'
      = c_text_area(f, :background_info, edit, :style =>"width:500px", :rows => 3)


  = render :partial => "/shared/tags", :locals => {:f => f, :span => 3}

  = hook(:contact_top_section_bottom, self, :f => f)
