- edit ||= false
- collapsed = session[:contact_presence].nil? # && @contact.errors.empty?
= subtitle :contact_presence, collapsed, t(:web_presence)
.section
  %small#contact_presence_intro{ hidden_if(!collapsed) }
    = t(:intro, t(:web_presence_small)) unless edit
  #contact_presence{ hidden_if(collapsed) }
    .row
      = c_show_when_exist(f, :blog, edit) do
        .col-md-3
          .label.top #{t :blog}:
          = c_textfield(f, :blog, edit)

      = c_show_when_exist(f, :twitter, edit) do
        .col-md-3
          .label.top #{t :twitter}:
          = c_textfield(f, :twitter, edit)

    .row
      = c_show_when_exist(f, :linkedin, edit) do
        .col-md-3
          .label #{t :linked_in}:
          = c_textfield(f, :linkedin, edit)

      = c_show_when_exist(f, :facebook, edit) do
        .col-md-3
          .label #{t :facebook}:
          = c_textfield(f, :facebook, edit)

    .row
      = c_show_when_exist(f, :skype, edit) do
        .col-md-3
          .label #{t :skype}:
          = c_textfield(f, :skype, edit)


