.standalone
  = form_tag(passwords_path, one_submit_only) do
    .title #{t :forgot_password}
    .intro #{t :password_intro}
    .form-group
      .mz-label #{t :email}:
      = text_field_tag :email
    .form-group
      = submit_tag t(:reset_password), :id => "passwords_submit", :class => "btn btn-success"
