#header
  %div{:style => "width: 480; margin: 0px auto 6px auto;"}
    .pull-right
      = link_to t(:Sign_up), new_registration_path(resource_name), :class => "btn btn-success"
    .clearfix

.main-content
  .standalone
    - if @error
      %b.label-danger
        = @error
    = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
      .form-group
        .mz-label
          = t :email
        = f.text_field :email, :class => "form-control"
      .form-group
        .mz-label
          = t :password
        = f.text_field :password, :class => "form-control"
      .form-group
        = f.check_box :remember_me if devise_mapping.rememberable?
        %span.mz-label
          = t :remember_me
      .form-group
        = f.button t(:login), :class => "btn btn-success"
        = link_to t(:Forgot_your_password), new_subscriber_password_path(resource_name)
      .form-group
        = link_to t(:Didn_t_receive_confirmation_instructions), new_subscriber_confirmation_path(resource_name)
