- entity_name = controller.controller_name.singularize.underscore #account
- @entity = instance_variable_get("@#{entity_name}")
- id = dom_id(@entity)
- text_name = @entity.respond_to?(:full_name) ? @entity.full_name : @entity.name

- if params[:cancel].true? # <--------------------- Hide [Edit]
  crm.set_title('edit_#{entity_name}', '#{h text_name}');
  $('#edit_#{entity_name}').html('#{ j render(:partial => "edit", :locals => {:edit => false}) }');
  window.history.pushState('', 'Title', window.location.href.substring(0, window.location.href.length - 5));
  = yield
  crm.event.emit(EVENT_EDIT_CANCEL);

- else # <----------------------------------------  Show [Edit] form.
  crm.set_title('edit_#{entity_name}', "#{t :edit} #{h text_name}");
  $('#edit_#{entity_name}').html('#{ j render(:partial => 'edit', :locals => {:edit => true}) }');
  window.history.pushState('', 'Title', window.location.href+ '/edit');
  =yield
  crm.event.emit(EVENT_EDIT_START);

crm.runOnload();