- entity_name = controller.controller_name.singularize.underscore #account
- @entity = instance_variable_get("@#{entity_name}")
- id = "edit_#{entity_name}"

- if @entity.errors.empty?
  crm.set_title('edit_#{entity_name}', '#{h @entity.name}');
  $('##{id}').html('#{ j render(:partial => "edit",  :locals => {:edit => false}) }');
  $('#recently').replaceWith('#{ j render(:partial => "shared/recently") }');
  crm.toggleUrlEdit(false);
  crm.event.emit(EVENT_EDIT_OK);

- else
  $('##{id}').html('#{ j render(:partial => "edit",  :locals => {:edit => true}) }');
  $('##{id}').effect("shake", { duration:250, distance: 6 });
  $('##{dom_id(@entity, :edit)} input[type!=hidden]').first().focus();
  crm.event.emit(EVENT_EDIT_NG);

= hook(:entity_update, self, {entity: @entity})
crm.runOnload();