- is_new = is_new?(@contact)
- edit ||= false
- disabled = !edit

=section_title (t :detail)
= hook(:opportunity_top_section, self, :f => f) do
  %div
    = c_show_when_exist(f, :name, edit) do
      .row_theme
        .label-medium.req.top #{t :name}:
        = c_textfield(f, :name, edit, :autofocus => true, :style => "width:325px")
    = c_show_when_exist(f, :stage, edit) do
      .row_theme
        .label-medium.req.top #{t :stage}:
        = f.select :stage, @stage, { :selected => @opportunity.stage ? @opportunity.stage.to_sym : nil }, { :style => "width:160px", :disabled => disabled }

  %div{ :border => 0, :width => 500, :cellpadding => 0, :cellspacing => 0 }
    = c_show_when_exist(f, :closes_on, edit) do
      .row_theme
        .label-medium #{t :close_date}:
        = c_textfield(f, :closes_on, :value => f.object.closes_on, :style => "width:110px;", :autocomplete => :off, :class => 'date')

    = c_show_when_exist(f, :probability, edit) do
      .row_theme
        .label-medium #{t :probability} (%):
        = c_textfield(f, :probability, :style => "width:110px; text-align:right;")

    = c_show_when_exist(f, :amount, edit) do
      .row_theme
        .label-medium #{t :amount} #{t :currency}:
        = c_textfield(f, :amount, :style => "width:110px; text-align:right;")

    = c_show_when_exist(f, :first_name, edit) do
      .row_theme
        .label-medium #{t :discount} #{t :currency}:
        = c_textfield(f, :discount, :style => "width:110px; text-align:right;")


  = render "shared/account_select", :edit => edit

  .row_theme
    .label-medium.req #{t :assigned_to}:
    = user_select(:opportunity, all_users, current_user, edit)

  = c_show_when_exist(f, :campaign_id, edit) do
    .row_theme
      .label-medium #{t :campaign}:
      = opportunity_campaign_select(selected: (@campaign.try(:id) || @opportunity.campaign_id), include_blank: true, :edit => edit )

  - if Setting.background_info && Setting.background_info.include?(:opportunity)
    .row
      .row_theme
        .label-medium= t(:background_info) << ':'
        = c_text_area(f, :background_info, :style =>"width:500px", :rows => 3)

  = render :partial => "/shared/tags", :locals => {:f => f, :span => 3}

  = hook(:opportunity_top_section_bottom, self, :f => f)
