.standalone.inline_block
  = form_for(@subscriber, :url => tenant_create_path) do |f|
    = f.error_messages

    .inputs
      .row.form-group
        .col-md-3
          .label
            = t :name
        .col-md-9
          = f.text_field(:name)
      .row.form-group
        .col-md-3
          .label
            = t :password
        .col-md-9
          = f.text_field(:password)
      .row.form-group
        .col-md-3
          .label
            = t :domain
        .col-md-9
          = f.text_field(:domain)
      -#.row.form-group
      -#  .col-md-3
      -#    .label
      -#      = t :email
      -#  .col-md-9
      -#    = f.text_field(:email)

  .actions
    %button#signup.btn.btn-success
      = t :submit
