-edit ||= false

#edit_campaign
  .remote
    = simple_form_for(@campaign, :html => one_submit_only, :remote => true) do |f|
      = f.hidden_field :user_id

      = f.error_messages :object_name => t('campaign')

      = render "campaigns/top_section", :f => f, :edit => edit
      = render "fields/edit_custom_field_group", :f => f, :edit => edit
      = render "campaigns/objectives",  :f => f, :edit => edit
      = render "fields/groups",         :f => f, :edit => edit
      = render "entities/permissions",  :f => f, :edit => edit, :entity => @campaign
      = hook(:entity_form, self, {f: f, entity: @campaign})

      = render :partial => "layouts/components/submit_button", :locals => {:f => f, :edit => edit, :label => :save_campaign}

