%li.highlight[campaign]
  .strip{:class => campaign.status}= t(campaign.status)


  .indent
    = link_to(campaign.name, campaign)
    = render "campaigns/status", :campaign => campaign

    = render "campaigns/index_tool_buttons", :campaign => campaign

    = hook(:campaign_bottom, self, :campaign => campaign)
  .clearfix
