.mz-row
  .pull-right
    .pull-left#buttons
      = view_buttons
    .pull-left
      .task-dropdown
        = render_filter_toggle_button do
          .caption= t :campaign_statuses
          - Setting.campaign_status.each do |key|
            %li.nowrap.dropdown-item
              %div{:style => "float:right;"}
                = @campaign_status_total[key]
              %span
                = campaign_status_checkbox(key, @campaign_status_total[key])
                = label_tag(key, t(key))

          %li.nowrap.dropdown-item
            %div{:style => "float:right;"}
              = @campaign_status_total[:other]
            %span
              = campaign_status_checkbox("other", @campaign_status_total[:other])
              = label_tag(:other, t(:other))
          %li.dropdown-divider
          %li.nowrap.dropdown-item
            %div{:style => "float:right;"}
              %b= @campaign_status_total[:all]
            %span
              %b #{t :total_campaigns}
          = hook(:index_campaign_sidebar_bottom, self)