- if current_user
  #top-search
    .mz-btn-group
      %button#add-button.btn{"data-toggle" => "dropdown"}
        %i.icon-plus
        %span.mz-caret
      %u.dropdown-menu
        %li.menu-task
          = link_to("/tasks/new")
        %li.menu-task
          = link_to("/campaigns/new")
        %li.menu-task
          = link_to("/leads/new")
        %li.menu-task
          = link_to("/accounts/new")
        %li.menu-task
          = link_to("/contacts/new")
        %li.menu-task
          = link_to("/opporturnity/new")

    = form_for(:search) do |f|
      = f.text_field :input, :class => "top-search pull-left"
      %button#search-button.btn.btn-primary.pull-left{:type=>"submit"}
        %i.icon-white.icon-search
      .clearfix

    .mz-btn-group
      %button.btn{"data-toggle" => "dropdown"}
        %i.icon-list-alt
        %span.mz-caret
      %ul.dropdown-menu
        - ["contact", "lead"].each do |val|
          %li
            = link_to(val)