#header
  .row
    %h3.col-md-1
      = link_to("Mozart", root_path)
    .col-md-offset-5
      .row
        .col-md-6
          = render "layouts/components/top_center"

        .col-md-6
          #welcome
            - if current_user
              = render "shared/profile_button"
            - else
              = link_to(t(:login), login_path) << " |"
              = link_to(t(:sign_up), signup_path) << " |" if can_signup?
              = link_to(t(:about), "#", :title => t(:about_ffc), :onclick => "$('#about').dialog({ title: this.title, modal: true }); return false;")
  = render "/layouts/jumpbox"
