- edit ||= false
- model ||= {}
- f ||= {}
- is_new = is_new?(model)

- model_name = controller_name.singularize

- name = model.send(:name).present? ? model.send(:name) : (t :add_new) + " " + (t "#{model_name}".to_sym)
- new_path = "new_" + model_name + "_path"
- edit_path = "edit_" + model_name + "_path"

.entity_header
  #titlebar
    .title
      = name

  #toolbar
    = render "layouts/components/back_button"
    - if flash_previous_path?
      = render "shared/save_and_back"

    -#Common edit buttons
    - if is_new
      %button.btn.btn-success
        = t :save
      = link_to_close send(new_path)
    - else
      - if edit
        %button.btn.btn-success
          = t :save
        = link_to_cancel send(edit_path, model), :options => {:class => "btn btn-danger"}
      - else
        = link_to_inline_tooltip(:edit, send(edit_path, model), :tool_tip => t(:edit), :class => "btn a-btn btn-success fa fa-pencil")

    -#Extra buttons
    = yield

    -#Common delete buttons
    - unless is_new and edit
      = link_to_function(t(:delete) + '?', confirm_delete(model), :class => "btn btn-danger")
      #confirm{ hidden }
      %span#menu


  -#= render :partial => "#{controller_name}/title_bar", :locals => {:model => model, :f => f, :edit => edit}

:javascript
  var event = crm.event;
  event.on(EVENT_EDIT_START, function(){
    console.log('III: Edit start');
  });

  event.on(EVENT_EDIT_CANCEL, function(){
    console.log('III: Edit ng');
  });

  event.on(EVENT_EDIT_OK, function(){
    console.log('III: Edit ok');
  });

  event.on(EVENT_EDIT_NG, function(){
    console.log('III: Edit ng');
  });

