- edit ||= false

- if edit
  = section_title t(:contact_info)
#account_contact
  = c_show_when_exist(f, :toll_free_phone, edit) do
    .row_theme
      .label-medium #{t :toll_free_phone}:
      = c_textfield(f, :toll_free_phone, edit, :style => "width:154px")
  = c_show_when_exist(f, :phone, edit) do
    .row_theme
      .label-medium #{t :phone}:
      = c_textfield(f, :phone, edit, :style => "width:154px")
  = c_show_when_exist(f, :fax, edit) do
    .row_theme
      .label-medium #{t :fax}:
      = c_textfield(f, :fax, edit, :style => "width:154px")
  = c_show_when_exist(f, :website, edit) do
    .row_theme
      .label-medium.top #{t :website}:
      = c_textfield(f, :website, edit)

  = c_show_when_exist(f, :email, edit) do
    .row_theme
      .label-medium.top Email:
      = c_textfield(f, :email, edit)

  = render "shared/address", :f => f, :asset => @account, :type => :billing, :title => :billing_address, :edit => edit
  = render "shared/address", :f => f, :asset => @account, :type => :shipping, :title => :shipping_address, :same_as_billing => true, :edit => edit
