- edit ||= false
- is_new ||= false

#edit_account
  = simple_form_for(@account, :html => one_submit_only, :remote => true) do |f|
    = render :partial => 'layouts/title_bar', :locals => {:model => @account, :f => f, :edit => edit}

    = f.hidden_field :user_id

    = f.error_messages :object_name => t('account')

    = render "accounts/top_section",  :f => f, :edit => edit
    = render "fields/edit_custom_field_group", :f => f, :edit => edit
    = render "accounts/contact_info", :f => f, :edit => edit
    = render "fields/groups",         :f => f, :edit => edit
    = render "entities/permissions",  :f => f, :edit => edit, :entity => @account
    = hook(:entity_form, self, {f: f, entity: @account})
    - if is_new
      = render "shared/add_comment", :f => f, :edit => true
