- edit ||= false

#edit_account
  = simple_form_for(@account, :html => one_submit_only, :remote => true) do |f|
    = link_to_close new_account_path
    = f.hidden_field :user_id

    = f.error_messages :object_name => 'account'

    = render "accounts/top_section",  :f => f, :edit => true
    = render "fields/edit_custom_field_group", :f => f, :edit => true
    = render "shared/add_comment", :f => f, :edit => true
    = render "accounts/contact_info", :f => f, :edit => true
    = render "fields/groups",  :f => f, :edit => true
    = render "entities/permissions",  :f => f, :edit => true, :entity => @account
    = hook(:entity_form, self, {f: f, entity: @account})

    = render :partial => "layouts/components/submit_button", :locals => {:f => f, :edit => true, :label => :create_account}
