- edit ||= false
- model ||= {}
- account = model

- if is_new?(account)
  .title_tools#menu
  .title#title
    = t :create_account
- else
  #confirm{ hidden }
  .title_tools#menu
    = link_to_inline(:edit_account, edit_account_path(account), :text => t(:edit), :edit => edit, "data-kind" => "edit") + " | "
    = link_to_function(t(:delete) + '?', confirm_delete(@account))
  .title_tools#buttons
    = view_buttons
  .title#edit_account_title
    = h(@account.name)
    = image_tag("loading.gif", :size => :thumb, :id => "loading", :style => "display: none;")
