.mz-row
  .pull-right
    .pull-left#buttons
      = view_buttons
    .pull-left
      .task-dropdown
        = render_filter_toggle_button do
          .caption= t :account_categories
          - Setting.account_category.each do |key|
            %li.nowrap.dropdown-item
              %div{:style => "float:right;"}
                = @account_category_total[key]
              %span
                = account_category_checkbox(key, @account_category_total[key])
                = label_tag(key, t(key))

          %li.nowrap.dropdown-item
            %div{:style => "float:right;"}
              = @account_category_total[:other]
            %span
              = account_category_checkbox("other", @account_category_total[:other])
              = label_tag(:other, t(:other))
          %li.dropdown-divider
          %li.nowrap.dropdown-item
            %div{:style => "float:right;"}
              %b= @account_category_total[:all]
            %span
              %b #{t :total_accounts}
          = hook(:index_account_sidebar_bottom, self)
